@model AppMvcFull.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="text-start">
    <h1 class="display-4">Produto</h1>
    <p class="text-muted">Edição do produto.</p>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <div class="img-field mb-2 mt-2">
                <div class="form-group">
                    <img id="productImg" src="~/Files/Product/@Model.Image" alt="@Model.Image" style="width:200px" />
                </div>
                <div class="form-group mt-1">
                    <input asp-for="ImageUpload" class="form-control custom-file-input" type="file" id="ImageUpload">
                    <span asp-validation-for="ImageUpload" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="3" maxlength="200" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="SupplierId" class="control-label">Fornecedor</label>
                <input asp-for="Name" disabled value="@Model.Supplier.Name" class="form-control" />
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <label class="form-label text-muted">@Model.CreatedDate.ToShortDateString()</label>
            </div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <a class="btn btn-secondary" href="javascript:window.history.back()">  <span class="fa fa-arrow-left"></span>Voltar </a>
                <button type="submit" value="Save" class="btn btn-success px-4"> Salvar <span class="fa fa-save"></span> </button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#ImageUpload").change(function () {

            $("#productImg").text(this.files[0].name);
            $("#productImg")[0].style.display = 'block';
        });
    </script>
    }


