@using AppMvcFull.App.Utils
@model IEnumerable<AppMvcFull.App.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-start">
    <h1 class="display-4">Produtos</h1>
    <p class="text-muted">Lista de produtos.</p>
    <p class="text-end">
        <a class="btn btn-primary"
           customHide-name="@ConstantClaimName.ProductsClaimName" 
           customHide-value="@ConstantClaimValue.Create"
           asp-action="Create"> <span class="fa fa-plus"></span> Adicionar
       </a>
    </p>
</div>
<hr />

<partial name="_ListProduct" />
